body {
    font-family: Roboto, Arial;
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    margin: 50px auto;
    padding: 10px 30px 10px 30px;
    max-width: 1000px;
}

.container:hover {
    box-shadow: 0 3px 10px rgb(214, 212, 212);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.selectionContainer,
.searchContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}

select,
input[type="text"] {
    flex: 1;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    height: 24px;
}

.search-input {
    padding-left: 6px;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr;
}

.one-news {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 0px;
    border-top: 1px solid #e0e0e0;
    transition: all 0.12s ease;
}

.one-news:hover {
    background-color: rgb(246, 246, 246);
}

.news-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-img img {
    width: 90%;
}

.news-content {
    flex: 2;
}

.news-content .info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #888;
    margin: -12px 0px -28px 0px;
}

.news-content h2 {
    font-size: 18px;
    color: #444;
    max-height: 20px;
    overflow: hidden;
    margin-bottom: -2px;
}

.news-content p {
    color: #777;
    margin: 10px 0 20px;
    font-size: 14px;
    max-height: 33px;
    overflow: hidden;
    margin-bottom: 10px;
}

.news-content a,
button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.12s ease;
}

.news-content a {
    padding: 4px 14px;
    font-size: 13px;
}

button {
    width: 56px;
    padding: 8px;
    font-size: 10px;
    margin-left: 5px;
}

button:hover,
.news-content a:hover{
    background-color: #e4010b;
}

button:active,
.news-content a:active {
    opacity: 0.5;
}